# Generated & Ephemeral Files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pth
*.npz
*.json
*.log

# Environment variables - DO NOT COMMIT
.env

# Build & Dist artifacts
build/
dist/
*.egg-info/

# IDE / Editor specific
.vscode/
.idea/
